@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1>Welcome</h1>
        <h2>to my first Razor Page Project</h2>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <img src="/images/pic.jpg" class="w-40 img-fluid img-thumbnail" width="400" height="400" alt="MainLogo"/>
    </div>
</div>
